@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.changelog-widget {
  /* font-family: "Poppins", sans-serif; */
}

.changelog-container {
  position: absolute;
  z-index: 1000;
}

.bg-red {
  background-color: red;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* make a thin scroll bar with a light color */
.thin-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.animateFadeUp {
  animation: fadeUp 0.3s ease;
  transition: all 0.1s ease;
}

.animateFadeIn {
  animation: fadeIn 1s ease;
  transition: all 1s ease;
}

/* ---- animation.css ---- */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* add a fade in effect to the widget */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
