.editor {
  position: relative;
  font-size: 14px;
  border-radius: 4px;
  overflow-y: auto;
  outline: none;
  white-space: pre-wrap;
  padding: 12px;
}

.editor::-webkit-scrollbar {
  width: 6px;
}

.editor::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.editor::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.editor::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blockquote {
  border-left: 2px solid #ccc;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #666;
  font-style: italic;
  padding: 12px;
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

.orderedList {
  list-style-type: decimal;
  margin-left: 20px;
}

.unorderedList {
  list-style-type: disc;
  margin-left: 20px;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image {
  display: block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

.backButton {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 8px;
  margin-top: 8px;
}
