:root {
  --bg-color-light: #ffffff;
  --border-color-light: #e0e0e0;
  --bg-color-dark: #191919;
  --border-color-dark: #333;
}

#changelog-widget-portal-fc {
  position: fixed !important;
  bottom: 1rem !important;
  right: 1rem !important;
  z-index: 9999 !important;
}
.container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  opacity: 0.8;
}
.attachedButton {
  font-family: "Poppins", sans-serif !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 38px !important;
  /* cursor: pointer; */
  outline: none;
  transition: all 0.3s ease-in-out;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  border: var(--border-color-light);
  transform: rotate(180deg);
  font-size: 12px !important;
}

.dark.attachedButton {
  border: var(--border-color-dark);
}

.icon {
  color: white;
}

.widgetContainer {
  position: absolute;
  /* bottom: 4.5rem; */
  /* right: 0; */
  /* left: 0; */
  min-width: 300px;
  width: 330px;
  /* this is 420 - 48px for the title div of the changelog widget */
  background-color: var(--bg-color-light);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  animation: fadeUp 0.3s ease;
  transition: all 0.1s ease;
  border: 1px solid var(--border-color-light);
}

.dark.widgetContainer {
  background-color: var(--bg-color-dark);
  border: 1px solid var(--border-color-dark);
}

.contentContainer {
  flex-grow: 1;
  overflow-y: auto;
  height: 372px;
  /* this is 420 - 48px for the title div of the changelog widget */
}

.feedbackPlaceholder {
  padding: 1rem;
  text-align: center;
  color: #666;
}

/* ----animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* add media query for mobile to take the full width  and height of the screen */

@media (max-width: 480px) {
  .widgetContainer {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0;
    bottom: -16px !important;
    right: -16px !important;
  }
}
